/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

/* Section Styling */
.page {
	min-height: 100vh;
	/* Full viewport height */
	width: 100%;
	/* Full width */
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

/* Solid Backgrounds for Testing */
#page1 {
	background: red;
}

#page2 {
	background: blue;
}

#page3 {
	background: green;
}

#page4 {
	background: yellow;
}